img {
    display: flex;
    width: 100%;
    height: auto;

}
.container {
    display: flex;
    margin-left: 40px;
}

.flippImg {
    display: flex;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position:left;
    background-size: contain;
}
.bulletImg {
    display: flex;
    justify-items: center;
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-top: 50px;
    width: 70px;
    height: 50px;
    
}
.flashImg {
    display: flex;
    background-repeat: no-repeat;
    margin-left: 2px;
    margin-right: -60px;
    margin-top: 20px;
    width: 70px;
    height: 30px;
    position: relative;
    z-index: 1;
    
}
.flippImgGun {
    display: flex;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin: auto; 
    position: relative;
    z-index: 2;
    
}
div.flippImg {
    background-image: url("flippBok\ oppgave.png");
}
/* div.flippImgGun {
    background-image: url("skeleton-gun.webp");
} */

@media screen and (min-width: 250px) {
    div.flippImg {
        background-image: url("flippBok oppgave 2.png");
    }
}
@media screen and (min-width: 300px) {
    div.flippImg {
        background-image: url("flippBok oppgave 3.png");
    }
}
@media screen and (min-width: 350px) {
    div.flippImg {
        background-image: url("flippBok oppgave 4.png");
    }
}
@media screen and (min-width: 400px) {
    div.flippImg {
        background-image: url("flippBok oppgave 5.png");
    }
}
@media screen and (min-width: 450px) {
    div.flippImg {
        background-image: url("flippBok oppgave 6.png");
    }
}
@media screen and (min-width: 500px) {
    div.flippImg {
        background-image: url("flippBok oppgave 7.png");
    }
}
@media screen and (min-width: 550px) {
    div.flippImg {
        background-image: url("flippBok oppgave 8.png");
    }
}
@media screen and (min-width: 600px) {
    div.flippImg {
        background-image: url("flippBok oppgave 9.png");
    }
}
@media screen and (min-width: 650px) {
    div.flippImg {
        background-image: url("flippBok oppgave 10.png");
    }
}
@media screen and (min-width: 700px) {
    div.flippImg {
        background-image: url("flippBok oppgave 11.png");
    }
    div.flippImgGun {
        background-image: url("skeleton-gun.png");
    }
}
@media screen and (min-width: 750px) and (max-width: 800px){
    div.flippImg {
        background-image: url("flippBok oppgave 12.png");
    }
    div.flashImg {
        background-image: url("flash.png");
    }
    div.bulletImg {
        background-image: url("bullet.png");
    }

}
@media screen and (min-width: 800px) and (max-width: 850px){
    div.flippImg {
        background-image: url("flippBok oppgave 13.png");
    }
    div.bulletImg {
        background-image: url("bullet.png");
        margin-left: 70px;
    }

}
@media screen and (min-width: 850px) and (max-width: 900px){
    div.flippImg {
        background-image: url("flippBok oppgave 14.png");
    }
    div.bulletImg {
        background-image: url("bullet.png");
        margin-left: 1px;
    }

}
@media screen and (min-width: 900px) {
    div.flippImg {
        background-image: url("flippBok oppgave 15.png");
    }
}